.navigation {
    margin: auto;
    margin-bottom: 50px;
    font-family: "Audiowide", sans-serif;
}

.navigation__direction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.navigation__listItem {
    margin: 10px;
    padding: 5px;
    list-style: none;
}

.navigation__link {
    color: #85C126;
    text-decoration: none;
}

.navigation__link:focus {
    outline: 1px solid #85C126;
}

.navigation__link:hover {
    color: crimson;
}

.navigation__link:active {
    color: rgb(136, 13, 37);
}